.p{
    background-color: rgb(203, 169, 234);
}
.shapka{
    background-color: rgb(107, 104, 104);
}
h2,h3,h4,h5,.p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    border-radius: 10px;
    border-color: black;
    border: 2px solid;
}