.p{
    background-color: rgb(203, 169, 234);
}
.shapka{
    background-color: rgb(107, 104, 104);
}
.q{
    margin-left: 680px;
    font-size: 30px;
}
.w{
    margin-left: 50px;
}
h5{
    margin-left: 130px;
}
.e{
    margin-left: 400px;
}
.w,h4,h5,h6,.p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    border-radius: 10px;
    border-color: black;
    border: 2px solid;
}