.fio{
    font-size: 30px;
    size: 10px;
    margin-left: 770px;
}
.one{
    font-size: 30px;
    margin-left: 770px;
}
.two{
    font-size: 30px;
    margin-left: 770px;
}
.three{
    font-size: 30px;
    margin-left: 770px;
}
h2{
    margin-left: 880px;
    font-size: 50px;
}
.r{
    margin-left: 780px;
    font-size: 30px;
}
.three{
    background-color: rgb(168, 195, 168);
}
.t{
    margin-left: 900px;
}
.p{
    background-color: rgb(203, 169, 234);
}
.shapka{
    background-color: rgb(107, 104, 104);
}