.q{
    text-align: center;
}
.w{
    text-indent: 20px;
}
.e{
    line-height: 30px;
}
.r{
    vertical-align: 20px;
}
.t{
    text-align: left;
}
.y{
    text-align: right;
}
.u{
    letter-spacing: 20px;
}
.i{
    word-spacing: 30px;
}
.o{
    text-transform: capitalize;
}
.p{
    direction: rtl;
}
#a{
    text-decoration: line-through;
}
#s::first-letter{
    font-size: 2em;
  margin-right: 2px; 
  color: #c366ee;
  font-weight: bold;
  text-shadow: -1px -1px 1px rgb(230, 168, 255), 1px 1px 1px #a264be
}
#d{
    font-style: italic;
}
#f{
    font-family: cursive;
}
#g{
    font-variant: small-caps;
}
#h{
    font-size: 30px
}
#j{
    color: #a264be;
}
#k{
    font-weight: 900;
}
#l{
    font: italic bold 14px/1.5 Times, 'New Century Schoolbook', serif;
}
#z{
    vertical-align: baseline;
}
#x{
    quotes: inherit;
}
.p{
    background-color: rgb(203, 169, 234);
}
