.z{
    background-color: rgb(203, 169, 234);
}
.wraper{
    width: 50%;
    border: 1px solid black;
    padding: 20px;
}
p{
    line-height: 33px;
    text-align: justify;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(243, 243, 243);
}
img{
    border: 2px solid;
    margin: 10px;   
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: blue;
}
body{
    background-color: rgb(243, 243, 243);
}